<h2>Posts</h2>
<% @posts.each do |post| %>
  <p>
    <%= post.id  %>
    <%= post.content  %>
    <br>
    <br>
    Created at <%= post.created_at  %>

  <br>
  <br>
  <a href="/post/<%= post.id %>">Comments</a>
  </p>
  <br>
<% end %> 

 
 
 